@keyframes brillo {
  0% {
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5); 
  }
  50% {
      box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.9); 
  }
  100% {
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5); 
  }
}
.footer_ul {
  list-style: none;
  display: flex;
  padding: 10px;
  gap: 5vh;
}

.footer_ancore {
  color: white;
  text-decoration: none;
  background-color: rgba(157, 170, 240, 0.3);
  border-radius: 6px;
  padding: 5px;
  animation: brillo 2s infinite alternate;
}
.footer_ancore:hover {
  background-color:  rgba(224, 15, 213, 0.795);
}
@media (max-width: 520px) {
  .footer{
    padding-left: 20px;
    padding-top: 22vh;
    
  }
  .footer_ul {
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 5vh;
  }
  .footer_span{
    font-size: 19px;

  }
  .footer_ancore {
   font-size: 18px;
   font-weight: bolder;
    padding: 12px;
  }
  
}
@media (max-width: 768px){
  .footer_span{
    margin-left: 20px;
  }
}
@media (max-width: 707px){
  .footer_ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_li{
    display: flex;
    justify-content: center;
  }
  .footer_ancore{
    padding: 8px;
  }
}