.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo{
    width: 160px;
    height: 80px;
}

.logo-de-contacto{
  background-color: transparent;
}