
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(6, 49, 78);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 5px rgba(224, 15, 213, 0.795);
}

.logotipo {
  padding-left: 10px;
  width: 100px;
  height: 80px;
}
.logotipo:hover{
  cursor: url('https://cdn-icons-png.flaticon.com/128/3208/3208707.png'), auto;
}
.name:hover{
  cursor: url('https://cdn-icons-png.flaticon.com/128/3208/3208707.png'), auto;
}

.logo-de-contacto {
  opacity: 0.8;
  
}
.logo-de-contacto:hover{
  filter: brightness(2);
  border-radius: 15%;
  background-color: rgba(224, 15, 213, 0.795);
  box-shadow: 0px 0px 10px 5px rgba(224, 15, 213, 0.795)
}

.nav__logotipo__contacto {
  height: 40px;
}
.Logos-de-contacto {
  display: flex;
  gap: 15px;
  padding-right: 2%;
}
.name{
  color: black;
  height: 0px;
  width: 0px;
  position: absolute;
  margin-top: 37px;
  left: 32px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  
}
