@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos-slide-img {
  height: 80px;
  margin: 0 45px;
  border-radius: 25px;
  background-color: rgba(224, 15, 213, 0.795);
  box-shadow: 0px 0px 10px 5px rgba(224, 15, 213, 0.795);
}

.logos {
  white-space: nowrap;
  width: 1080px;
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
}

.logos-slide {
  display: inline-block;
  white-space: nowrap;
  animation: 35s slide infinite linear;
}
