body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  background-image: url("https://r4.wallpaperflare.com/wallpaper/800/831/598/neon-synthwave-digital-art-mountains-wallpaper-6fd5828c1e46dc0b654c88c2f101a4f4.jpg");
  background-repeat: no-repeat;
  color: white;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  html {
    width: 100vw;
  }
}
